<body>
  <div class="container">
    <h1>To-Do List</h1>
    <p>Lets see what's on your list!</p>
    @for (t of allTasks; track $index){
      <div class="row" [class.complete]="t.completed == true">
        <!-- If the task is completed, else display an invisible button of same size to keep format the same -->
        @if(!t.completed){
          <button class="col -1 btn btn-custom" (click)="completeTask(t)">Complete</button>
        }
        @else {
          <button class="col -1 btn btn-custom invisible">Complete</button>
        }
        <!-- Display task and duration -->
        <p class="col-6">{{$index + 1}}. {{ t.task }} | ({{ t.duration }} hr)</p>

        <!-- If task has high priority or low priority, display as such. If normal, keep column 
         same size to keep formatting -->
        @if(t.priority === "High"){
          <p id = "High" class="col-3">↑ {{ t.priority }} priority</p>
        }
        @else if (t.priority === "Low") {
          <p id = "Low" class="col-3">↓ {{ t.priority }} priority</p>
        }
        @else {
          <p class="col-3"></p>
        }

        

        <button class="col-1 btn btn-danger" (click)="removeTask(t)">X</button>
      </div>
    }
    <!-- Tried to add an empty line with <p></p>-->
    <p></p>

    <!-- Allow user to add a new task to To-Do List -->
    <label for = "name">Enter the name of a new task</label>
    <input id = "name" name="task" type="text" [(ngModel)]="formToDo.task" />
    <label for = "duration">Enter an estimated duration for the task</label>
    <input id = "duration" name="duration" type="number" [(ngModel)]="formToDo.duration" />
    
    <!-- Radio buttons, not the best implementation visually but it works -->
    <label for = "priority">What is the priority level of this task?
      <input id = "priority" type="radio" name="priority" value="High" [(ngModel)]="formToDo.priority"> 
      High |
      <input id = "priority" type="radio" name="priority" value="Medium" [(ngModel)]="formToDo.priority">
      Medium |
      <input id = "priority" type="radio" name="priority" value="Low" [(ngModel)]="formToDo.priority">
      Low
    </label>
    

    <button class="btn btn-success" (click)="addTask()">Add</button>
  </div>
</body>

